<h1>Welcome, king!</h1>
<h2>Admin options</h2>
<h3>Movies</h3>
<ul>
    <li>
        <a href="/add-language">Add supported language</a>
    </li>
    <li>
        <a href="/browse-movies-admin">Manage movies</a>
    </li>
    <li>
        <a href="/manage-reviews">Manage reviews</a>
    </li>
    <li>
        <a href="/add-genres">Add genres</a>
    </li>
    <li>
        <a href="/add-people">Add people</a>
    </li>
    <li>
        <a href="/add-producers">Add producers</a>
    </li>
</ul>
<h3>Screening plans</h3>
<ul>
    <li>
        <a href="/add-ticket-type">Add ticket type</a>
    </li>
    <li>
        <a href="/add-screening">Add screening</a>
    </li>
</ul>
<h3>Statistics</h3>
<ul>
    <li>
        <a href="/best-customers">Best customers</a>
    </li>
    <li>
        <a href="/best-seats">Most popular seats</a>
    </li>
    <li>
        <a href="/sum-money?money=--&s_beg=--&s_end=--">Sum money</a>
    </li>
</ul>

