<h1>Welcome, king!</h1>
<h2>Admin options</h2>
<h3>Movies</h3>
<ul>
    <li>
        <a href="/add-language">Manage supported languages</a>
    </li>
    <li>
        <a href="/browse-movies-admin">Manage movies</a>
    </li>
    <li>
        <a href="/manage-reviews">Manage reviews</a>
    </li>
    <li>
        <a href="/browse-people">Manage people</a>
    </li>
    <li>
        <a href="/add-genres">Manage genres</a>
    </li>
    <li>
        <a href="/add-producers">Manage producers</a>
    </li>
</ul>
<h3>Screening plans</h3>
<ul>
    <li>
        <a href="/add-ticket-type">Manage ticket types</a>
    </li>
    <li>
        <a href="/add-screening">Manage screenings</a>
    </li>
</ul>
<h3>Statistics</h3>
<ul>
    <li>
        <a href="/best-customers">Best customers</a>
    </li>
    <li>
        <a href="/best-seats">Most popular seats</a>
    </li>
    <li>
        <a href="/sum-money?money=--&s_beg=--&s_end=--">Sum money</a>
    </li>
</ul>

