<h1>Welcome to CNEMA!</h1>
<h2>Admin options</h2>
<h3>Cinema maintenance</h3>
<ul>
    <li>
        <a href="/add-room">Add room</a>
    </li>
</ul>
<h3>Language support in movies</h3>
<ul>
    <li>
        <a href="/add-language">Add supported language</a>
    </li>
    <li>
        <a href="/add-regionalization">Add regionalization</a>
    </li>
</ul>
<h3>Screening plans</h3>
<ul>
    <li>
        <a href="/add-screening">Add screening</a>
    </li>
</ul>
<h2>User options</h2>
