<h1>Welcome, <%= user.username %>!</h1>
<h2>User options</h2>
<ul>
    <li>
        <a href="/buy-ticket">Buy ticket</a>
    </li>
    <li>
        <a href="/user-history">Ticket history</a>
    </li>
</ul>
